<div class="l-login">
	<div class="column">
		<form (submit)="logar()" #formLogin="ngForm">
			<div class="field">
				<label class="fontSize--s fontWeght--2">Digite o usuário da sua máquina</label>
				<p class="control">
					<input type="text" class="input input--default input--m width-100" [(ngModel)]="usuario" name="Login" placeholder="Digite o seu usuário" required>
				</p>
			</div>

			<div class="field">
				<label class="fontSize--s fontWeght--2">Senha</label>
				<p class="control">
					<input type="password" class="input input--default input--m width-100" [(ngModel)]="senha" name="Password" placeholder="Digite sua senha" required>
				</p>
			</div>
		
			<button type="submit" #btnLogin class="button button--m bg-black is-loading" [disabled]="formLogin.form.invalid">
				Entrar	
			</button>
		</form>
	</div>

</div>