// Colors
$white        : #FFFFFF;
$black        : #1F2D3D;
$black-bis    : #273444;
$black-ter    : #3C4858;
$orange       : #FF7849;
$orange-light : #FF9E7C;
$orange-dark  : #FF5216;
$yellow       : #FFC82C;
$yellow-light : #FFD55F;
$yellow-dark  : #F8B700;
$green        : #13CE66;
$green-light  : #29EB7F;
$green-dark   : #0F9F4F;
$blue         : #1FB6FF;
$blue-light   : #85D7FF;
$blue-dark    : #009EEB;
$positive     : #13CE66;
$negative     : #FF4949;
$warning      : #FFC82C;
$purple       : #7E5BEF;
$purple-light : #A389F4;
$purple-dark  : #592DEA;
$pink         : #FF49DB;
$pink-light   : #FF7CE5;
$pink-dark    : #FF16D1;
$red          : #FF4949;
$red-light    : #ff7c7c;
$red-dark     : #ff1616;
$smoke     	  : #d3dce6;


// Typography
$family-proxima: 'proxima-nova', 'sans-serif';
$family-fira: 'Fira Sans', 'sans-serif';
$family-fakt: 'FaktProSoft', 'Helvetica Neue', 'helvetica', 'arial', 'sans-serif';



